.idea/
node_modules/
__pycache__/
.deploy*/
.DS_Store
Thumbs.db
*.log
*.png
*.pyc
*.json
.uv-cache/
.venv/
venv/
db.sqlite3
staticfiles/
.uv-python/
.env.example
.env
.env.*
!.env.example
.git-config-global
