Django==1.7
dj-database-url==0.3.0
pytz==2014.9
gunicorn==19.1.1
whitenoise==1.0.3
psycopg2==2.5.4
django-pagination-py3==1.1.1
redis==2.10.3
django-redis==3.7.2
APScheduler==3.0.1
django-reversion==1.8.5
xlwt==0.7.5
git+https://github.com/sshwsfc/django-xadmin.git@django1.7
whoosh==2.6.0
jieba==0.35
django-haystack==2.3.1