pytz==2016.3
gunicorn==19.4.5
whitenoise==3.0
psycopg2==2.6.1
redis==2.10.5
APScheduler==3.1.0
xlwt==1.0.0
whoosh==2.7.4
jieba==0.38
git+https://github.com/sshwsfc/django-xadmin.git@django1.9
Django==1.9.5
dj-database-url==0.4.1
django-pagination-py3==1.1.1
django-redis==4.4.2
django-reversion==1.10.2
django-haystack==2.4.1
django-crispy-forms==1.6.0
