{% extends 'mysite/base.html' %}
{% load blog_tags %}
{% block content %}
    {% if list_header %}
        <div class="box">{{ list_header }}</div>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <div class="info">
                <span class="date">{{ post.published_date|date:'Y年m月d日' }}</span>
                <span class="comments">
                    {% if post.num_comment > 0 %}
                        {{ post.num_comment }} 条评论
                    {% else %}
                        没有评论
                    {% endif %}
                </span>
                <span class="comments">
                    {{ post.click }} 人阅读&nbsp;&nbsp;
                </span>
                <div class="fixed"></div>
            </div>
            <div class="content">
                <p>
                    {% autoescape off %}
                        {{ post.text|more:post.id }}
                    {% endautoescape %}
                </p>
            </div>
            <div class="under">
                <span class="categories">分类: </span>
                <span>
                    <a href="{% url 'blog.views.post_list_by_category' cg=post.category.name %}"
                       rel="category tag">{{ post.category.name }}
                    </a>
                </span>
                <span class="tags">标签: </span>
                <span>
                    {% for tg in post.tags.all %}
                        <a href="{% url 'blog.views.post_list_by_tag' tag=tg.name %}"
                           rel="tag">{{ tg.name }}</a>&nbsp;
                    {% endfor %}
                </span>
            </div>
        </div>
    {% endfor %}
    {% if page %}
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}
